@mixin df($ai: center, $jc: center, $fd: row) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
  flex-direction: $fd;
}

.main {
  height: 100vh;
  background-color: #deebfb;
  @include df();
  .inner {
    height: 90%;
    width: 90%;

    display: flex;
    .left {
      flex: 1;
      @include df(center, center, column);
      .top {
        @include df(center, center, column);

        p {
          font-family: sans-serif;
          font-size: 12px;
          font-weight: 400;
          padding: 10px 0;
        }
      }
      .logo {
        width: 60px;
        height: 60px;
        background-color: white;

        border: 4px solid white;
        border-radius: 10px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      ul {
        list-style: none;
        width: 50%;
        li {
          background-color: transparent;
          margin: 10px 0;
          border-radius: 5px;
          user-select: none;
          cursor: pointer;
          font-size: 14px;
          text-align: center;
          display: flex;
          position: relative;
          color: #909090;
          .icon {
            height: 35px;
            width: 47px;
            background-color: white;
            color: #909090;
            @include df();
            font-size: 18px;
            border-radius: 5px;
          }
          .text {
            height: 35px;
            width: 100%;

            @include df();
          }
          &.active {
            background-color: #ff5454;
            .text {
              color: white;
            }
            .icon {
              background-color: #df4545;
              color: white;
            }
          }
        }
        margin: 10px 0;
      }
      .delivery {
        user-select: none;
        width: 130px;
        height: 130px;
        background-color: white;
        margin-top: 40px;
        border-radius: 20px;
        position: relative;
        padding: 10px 10px;
        @include df(flex-start, flex-end, column);
        img.f1 {
          width: 130px;
          position: absolute;
          left: 50%;
          z-index: 2;
          transform: translateY(-10%) translateX(-50%);
        }
        img.f2 {
          width: 60px;
          position: absolute;
          left: 50%;
          transform: translateY(-150%) translateX(-50%);
        }
        h5 {
          font-size: 18px;
          font-weight: 800;
          color: rgb(32, 32, 32);
        }
        a {
          font-size: 10px;
          text-decoration: none;
          color: rgb(31, 31, 31);
          text-transform: capitalize;
        }
      }
    }
    .right {
      flex: 3.5;
      background-color: white;
      border-radius: 20px;
      overflow: hidden;
      .page {
        height: 100%;
      }
      .hidden {
        display: none;
      }
    }
  }
}
