@mixin df($ai: center, $jc: center, $fd: row) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
  flex-direction: $fd;
}

.main {
  height: 100vh;
  background-color: #deebfb;
  @include df();
  .inner {
    height: 90%;
    width: 90%;

    display: flex;
    .left {
      flex: 1;
      @include df(center, center, column);
      .top {
        @include df(center, center, column);

        p {
          font-family: sans-serif;
          font-size: 12px;
          font-weight: 400;
          padding: 10px 0;
        }
      }
      .logo {
        width: 60px;
        height: 60px;
        background-color: white;

        border: 4px solid white;
        border-radius: 10px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      ul {
        list-style: none;
        width: 50%;
        li {
          background-color: rgb(201, 89, 89);
          margin: 10px 0;
          padding: 7px 15px;
          user-select: none;
          cursor: pointer;
          font-size: 14px;
          color: white;
          text-align: center;
          &.active {
            background-color: firebrick;
          }
        }
        margin: 10px 0;
      }
      .delivery {
        width: 130px;
        height: 130px;
        background-color: white;
        margin-top: 40px;
        border-radius: 20px;
        position: relative;
        padding: 10px 10px;
        @include df(flex-start, flex-end, column);
        img {
          width: 130px;
          position: absolute;
          left: 50%;
          transform: translateY(-20%) translateX(-50%);
        }
        h5 {
          font-size: 16px;
        }
        a {
          font-size: 11px;
          text-decoration: none;
          color: rgb(31, 31, 31);
          text-transform: capitalize;
        }
      }
    }
    .right {
      flex: 3.5;
      background-color: white;
      border-radius: 20px;
      .page {
        height: 100%;
        @include df();
      }
      .hidden {
        display: none;
      }
    }
  }
}
