.fullweb {
  background-color: firebrick;
  height: 300vh;
  color: aliceblue;
}

.navbar {
  height: 13vh;
  background-color: black;
}
.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1200px;
}
.nav {
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
